body {
  background: url(./assets/sl_030220_28570_03.jpg) no-repeat top center/cover;
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
  background-attachment: fixed;
}

header {
  background-color: #000000;
  background-image: "./";
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-area {
  display: flex;
  align-items: center;
}

.conteudo {
  color: rgb(170, 164, 164);
  font-size: 16px;
}

.logo-area img {
  height: 80px;
  margin-right: 10px;
  border-radius: 50%;
}

header nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}

.hero {
  padding: 40px;

  text-align: center;
}

footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.hero {
  background-size: cover;
  background-position: center;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px 30px;
  text-align: center;
  border-radius: 5px;
}

#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 16px 24px;

  background-color: rgba(172, 172, 166, 0.959);
  border: 1px solid rgba(0, 0, 0, 0.849);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.3s;
}

ul li a:hover {
  background: rgba(158, 168, 98, 0.74);
  border: 1.5px solid black;
}

/* social-links */

#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;

  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  color: white;

  transition: background 0.2s;
  border-radius: 50px;
}
#social-links a:hover {
  background: rgb(14, 13, 13);
}
